/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

h1 {
	font-family: 'Horizon', sans-serif;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.navbar-toggler {
	border: none;
}

.hero-image {
	position: relative;
	width: 100%;
}

	.hero-image img {
		width: 100%;
	}

.nav-link {
	color: #f5f8de;
}

.navbar-brand {
	color: #f5f8de;
}

.navbar {
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
}

.bg-light {
	background-color: #2a2b2e !important;
}

.body-text {
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	color: #f5f8de;
	background-color: #2a2b2e;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fffcf8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}