/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Changing the main font and background colour */

body {
    font-family: Raleway, sans-serif;
    background-color: #e7e5df;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #a4386b;
    text-align: center;
}

/* Changing the background colour for the header */

header {
    background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
    background-color: #a4386b;
}

/* Effect on social media buttons */

footer a:hover {
    opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
    color: #800000;
    font-weight: bold;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: none;
    outline: none;
    box-shadow: none;
    padding-right: 10%;
}

.navbar-toggler-icon {
    background-image: none;
}

    .navbar-toggler-icon i {
        color: #e7e5df;
        font-size: 28px;
        transition: transform 0.3s ease-in-out;
    }

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon i {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon i {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon i.fa-bars::before {
        content: "\f00d";
    }

.nav-item {
    font-weight: bold;
}

.navbar-brand {
    padding-left: 10%;
}

.nav-link {
    color: #e7e5df;
}

.navbar-collapse {
    padding-right: 10%;
}

.navbar-brand {
    color: #e7e5df;
}

.navbar {
    background-color: rgba(164, 56, 107, .5);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding-left: 10%;
    }
}

.bg-light {
    background-color: #a4386b !important;
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.3);
}

.body-text {
    padding-top: 30px;
    text-align: justify;
    color: #2a2b2e;
    background-color: #e7e5df;
}

.main-content .container {
    max-width: 1200px;
}

.main-content {
    margin: 0 auto;
    padding: 0 10%;
}

footer {
    color: #e7e5df;
    border-top-color: #2a2b2e;
    background-color: #2a2b2e;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-text {
    padding-left: 10%;
}


.carousel-static-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #e7e5df;
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

    .carousel-static-caption .btn {
        display: inline-block;
        background-color: #a4386b;
        color: #e7e5df;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 25px;
    }


.navbar-logo {
    height: 50px;
}

.carousel-static-caption h1 {
    color: #e7e5df;
    text-shadow: 0px 1px 20px #2a2b2e;
}

.social-icons {
    padding-right: 10%;
}

.responsive-h1 {
    font-size: 1.5rem;
}

.responsive-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
}

@media (min-width: 360px) {
    .responsive-h1 {
        font-size: 1.8rem;
    }

    .responsive-btn {
        font-size: 0.9rem;
        padding: 0.45rem 0.9rem;
    }
}

@media (min-width: 480px) {
    .responsive-h1 {
        font-size: 2.2rem;
    }

    .responsive-btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 576px) {
    .responsive-h1 {
        font-size: 2.5rem;
    }

    .responsive-btn {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
    }
}

@media (min-width: 768px) {
    .responsive-h1 {
        font-size: 3rem;
    }
}

@media (min-width: 880px) {
    .responsive-btn {
        display: none;
    }
}

@media (max-width: 700px) {
    .responsive-h1 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .responsive-h1 {
        font-size: 4rem;
    }

    .responsive-btn {
        font-size: 1.75rem;
        padding: 1.25rem 2.5rem;
    }
}

@media (min-width: 1400px) {
    .responsive-h1 {
        font-size: 5rem;
    }

    .responsive-btn {
        font-size: 2rem;
        padding: 1.5rem 3rem;
    }
}

.headers {
    padding-bottom: 1rem;
}

.carouselExampleIndicators {
    padding-bottom: 2rem;
}

.body-image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.testimonial-card {
    background-color: #a4386b;
    color: #e7e5df;
    max-width: 350px;
    margin: auto auto;
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.value-card {
    background-color: #a4386b;
    color: #e7e5df;
    max-width: 500px;
    margin: auto auto;
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 15px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body {
    text-align: center;
    flex-grow: 1;
}


.card-title {
    font-weight: bold;
}

.testimonials {
    padding-bottom: 3rem;
}

.card {
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.1);
    }

.sign-up-btn {
    display: inline-block;
    background-color: #a4386b;
    color: #e7e5df;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 25px;
    margin-left: 1rem;
}

#email {
    border-radius: 25px;
}

.form-inline {
    margin-bottom: 3rem;
}
